@import './../../../stylusMixin/libs'
.asl
    font-family 'ALS'
.page
    background-attachment fixed
    bg(top)
    background-size cover
    background-image url("../img/bodyBG.jpg")
    padding 0 0 50px
    z-index 1000
    +tablet()
        background-image none
    +mobile()
        background-image none
.pageWrap
    center(980px)
    padding 50px 0 0
    +tablet()
        center(768px)
        padding 0 0 0
    +mobile()
        center(400px)
        padding 0 0 0
.pageContent
    span(3/4)
    display table-cell
    float none
    background-color #FFF
    padding 40px 50px
    +mobile()
        padding 40px 10px
        span(1/1)
    h1
        ff(o_light,5)
        color #252525
        margin-bottom 20px
    h2
        color #00adee
        ff(normal,2)
        margin-bottom 20px
        a
            ff(normal,2)
    h3
        ff(o_light,2.5)
        color #252525
        margin-bottom 20px
    h4
        ff(o_light,2)
        color #252525
        margin-bottom 20px
    h5
        ff(o_light,2.0)
        color #252525
        margin-bottom 20px
    p
        ff(normal,1.5,2.5)
        color #252525
        margin-bottom 20px
    .red
        color #d3000a
    strong
        display block
        ff(normal,1.7)
        color #252525
        margin-bottom 20px
        a
            ff(normal,1.7)
    a
        ff(normal,1.5,2.5)
        color #00adee
        text-decoration none
        &:hover
            color #fd7201
            text-decoration underline
    ol
        padding-left 20px
        list-style none
        li
            ff(normal,1.5,2.5)
            color #252525
            margin-bottom 20px
            counter-increment li-counter
            &:before
                content counter(li-counter)'.'
                color #d3000a
                margin-left -20px
                margin-right 10px
    table
        width 100%
        margin-bottom 30px
        thead
            border-bottom 2px solid #d3000a
            tr
                td
                    padding 10px 0px
                    text-align center
                    ff(normal,1.5)
                    color #252525
                    span
                        display block
                        ff(normal,1.3)
                        color #94989c

        tbody
            tr
                border-bottom 1px solid #efefef
                &:last-child
                    border-bottom 0px
                td
                    padding 10px 0px
                    text-align center
                    ff(normal,1.5,2.5)
                    color #252525

    .line
        display block
        height 1px
        border-bottom 1px solid rgba(0,0,0,.1)
        margin-bottom 20px
.blockLogo
    display block
    border-top 1px solid #e98085
    padding-top 30px
    sf()
    &Image
        col(1/4)
        text-align center
        padding-top 5px
        +mobile()
            col(1/1)
            margin-bottom 10px
    &Text
        col(3/4)
        h1
            ff(o_light,2.0)
            color #252525
        +mobile()
            col(1/1)
.newsBlock
    display block
    border-top 1px solid #e98085
    padding-top 30px
    margin-bottom 30px
    sf()
    &Footer
        p
            ff(normal,1.3)
            color #858585
            margin-bottom 5px
.lineRed
    display block
    height 1px
    margin-bottom 20px
    border-bottom 1px solid #e98085
.photoGallery
    margin-bottom 20px
.photo
    display block
    position relative
    width 700px
    height 400px
    sf()
    +mobile()
        width 380px
        height auto
.photoItem
    display block
    width 700px
    height 400px
    sf()
    +mobile()
        width 400px
.pageTabs
    span(1/4)
    display table-cell
    float none
    background-color rgba(255,255,255,.8)
    padding-top 40px
    padding-left 50px
    +tablet()
        display none
    +mobile()
        display none
.pageTabItem
    position relative
    margin-bottom 5px
    ff(normal,1.5,2.5)
    color #252525
    a
        color #00adee
        ff(normal,1.5,2.5)
        text-decoration none
        &:hover
            text-decoration underline
            color #fd7201
    &Active
        cursor default
        a
            color #252525
            text-decoration none
        &:after
            display block
            position absolute
            top 8px
            left -20px
            size(8)
            border-radius 50%
            background-color #00adee
            content ''
