@import './../../../stylusMixin/libs'
.buttonBlue
    display inline-block
    position relative
    vertical-align middle
    background-color #00adee
    padding 6px 13px 7px
    color #fff
    ff(normal,1.5)
    text-decoration none
    outline 0
    border 0
    &:hover
        background-color #fd7201
    &:active
        box-shadow inset 0 1px 5px rgba(0, 0, 0, 0.35)


.buttonBlueBig
    @extend .buttonBlue
    padding 8px 27px 9px
    ff(normal,1.7)
.buttonOutline
    height 51px
    background-color transparent
    position relative
    outline 0
    border 2px solid #fff
    text-decoration none
    color #fff
    ff(o_light,2.0,2.5)
    padding-left 72px
    padding-right 72px
    &:hover
        background-color #FFF
        color #00adee
    &:active
        &:after
            position absolute
            width calc(100% + 4px)
            top -2px
            left -2px
            height 51px
            content ''
            box-shadow inset 0 1px 5px rgba(0, 0, 0, 0.35)
