@import './../../../stylusMixin/libs'

$main-color = #000
$secondary-color = #a6a178
$bg-color = #f5f5f5
$text-color = #000
$height = 49px
$spacing = 17px
$border-width = 1px
$inner-height = $height - $border-width * 2

.selectric-wrapper
    display inline-block
    vertical-align middle
    position relative
    cursor pointer
    width 100%
.selectric-responsive
    width 100%
.selectric
    border 1px solid rgba(0, 0, 0, 0.09)
    background #f5f5f5
    position relative
    border-radius 3px
    text-align left
    .label
        display block
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin 0 30px 0 $spacing
        ff(normal,1.5)
        line-height $inner-height
        color $text-color
        height $inner-height
    .button
        display block
        position absolute
        right 0
        top 0
        width 37px
        height $inner-height
        color $secondary-color
        text-align center
        font 0/0 a
        &:after
            content " "
            position absolute
            top 0
            right 0
            bottom 0
            left 0
            margin auto
            width 37px
            height 50px
            display block
            bg()
            background-image inline("iconSelectDown.png")

// .selectric-hover .selectric
    // border-color #484848
    // .button
    //     &after
    //         background-image url("iconSelectActive.png")
.selectric-open
    z-index 9999
    .selectric
        border-color #dee2e5
        border-radius 2px 2px 0 0
    .selectric-items
        display block
    .label
        color #575757
    // .button
    //     &after
    //         background-image url("iconSelectActive.png")
.selectric-disabled
    opacity 0.5
    cursor default
    user-select none
.selectric-hide-select
    position relative
    overflow hidden
    width 0
    height 0
    select
        position absolute
        left -100%
        display none
.selectric-input
    position absolute !important
    top 0 !important
    left 0 !important
    overflow hidden !important
    clip rect(0, 0, 0, 0) !important
    margin 0 !important
    padding 0 !important
    width 1px !important
    height 1px !important
    outline none !important
    border none !important
    *font 0/0 a !important
    background none !important
.selectric-temp-show
    position absolute !important
    visibility hidden !important
    display block !important
/* Items box */
.selectric-items
    display none
    position absolute
    text-align left
    top 100%
    left 0
    margin-top -1px
    background #fff
    width 100%
    border 1px solid #fff
    z-index -1
    border-radius 2px
    box-shadow 0 3px 14px 0 rgba(41,41,41,0.38)
    .selectric-scroll
        height 100%
        overflow auto
    .selectric-above &
        top auto
        bottom 100%
    ul, li
        list-style none
        margin 0
        padding 5px 0
        font-size 16px
        line-height 20px
        min-height 20px
    li
        display block
        padding 8px
        color #575757
        ff(normal,1.5)
        cursor pointer
        &.selected
            color #fd7201
        &:hover
            background #fff
            color #fd7201
        &:before
            display none
    .disabled
        opacity 0.5
        cursor default !important
        background none !important
        color #666 !important
        user-select none
    .selectric-group
        .selectric-group-label
            font-weight bold
            padding-left 10px
            cursor default
            user-select none
            background none
            color #444
        &.disabled li
            opacity 1
        li
            padding-left 25px
