@font-face
    font-family 'Open Sans'
    src url('OpenSans-Regular-webfont.woff') format("woff")
    font-weight 400
    font-style normal

@font-face
    font-family 'Open Sans'
    src url('OpenSans-Light-webfont.woff') format("woff")
    font-weight 300
    font-style normal

@font-face
    font-family 'ALS'
    src url('rouble-webfont.woff') format("woff")
    font-weight 400
    font-style normal
