@import './../../../stylusMixin/libs'

.banner
    display block
    height 562px
    .slick-list
        height 562px
        .slick-track
            height 562px
    +mobile()
        display none !important

.bannerItem
    display block
    min-height 562px
    height 562px
    padding 140px 50px 0px
    bg()
    background-size cover
    text-align center

.bannerHeader
    display inline-block
    width 840px
    margin-bottom 20px
    text-align center
    ff(o_light,7)
    color #252525
    +tablet()
        width 768px

.bannerText
    display inline-block
    width 840px
    text-align center
    margin-bottom 30px
    ff(normal,3)
    color #252525
    +tablet()
        width 768px
