extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Об отеле
                h2 Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс».
                p
                    b Первый капсульный отель
                    |  «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.
                h3 Сеть комфортных отелей для наших гостей
                p Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс». Одно из преимуществ, которыми отличаются отели в Шереметьево
                h2 Московский международный аэропорт Шереметьево приглашает своих гостей разместиться
                p Одно из преимуществ, которыми отличаются отели в Шереметьево
                .line
                h4 Как заказать услугу?
                p На страницах нашего сайта гостиницы в Шереметьево представлена вся информация о капсульном отеле. 
                strong 8 800 550-02-42 (звонок по России бесплатный)</br>
                strong 8 (495) 788-35-02 (телефон в Москве)

            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Об отеле
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
