extends _layout

block content
    .booking
        .bookingWrap
            .bookingHeader
                h1 Бронирование
                p
                    | Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопросам — 
                    b 8 800 550-02-42
            form.bookingForm
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabel Выбор отеля
                    .bookingFormItemRight
                        select.selectric
                            option Шереметьево Терминал B
                            option Шереметьево Терминал C
                            option Шереметьево Терминал Е
                .bookingSubHeader
                    h2
                        | Даты и кол-во гостей
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Дата заезда
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.datepicker(data-value=Date())
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.timepicker
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Дата выезда
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.datepicker
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.timepicker
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Взрослых и детей
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            select.selectric
                                option 1 взрослых
                                option 2 взрослых
                                option 3 взрослых
                        .bookingFormItemHalf
                            select.selectric
                                option Без детей
                                option 1 ребенок
                                option 2 ребенка
                .bookingSubHeader
                    h2
                        | Выбор номера
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Тип и количество
                    .bookingFormItemRight
                        .bookingFormItemThree
                            select.selectric.js-changeroom
                                option(value='room1') Двухместный с окном (от 700 Р в час)
                                option(value='room2') Одноместный с окном (от 1700 Р в час)
                        .bookingFormItemOne
                            .bookingFormItemX
                            select.selectric
                                option 12
                                option 3
                                option 4
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        .bookingFormItemRoom.room1
                            .bookingFormItemRoomImage
                                img(src="img/room.jpg")
                            .bookingFormItemRoomText
                                | 1 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос
                        .bookingFormItemRoom.room2
                            .bookingFormItemRoomImage
                                img(src="img/room.jpg")
                            .bookingFormItemRoomText
                                | 2 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос
                .bookingSubHeader
                    h2
                        | Выбор номера
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Данные гостя
                    .bookingFormItemRight
                        .inputBlock
                            .inputBlockWrap
                                input.input(placeholder="Фамилия")
                            .inputBlockWrap
                                input.input(placeholder="Имя")    
                            .inputBlockWrap
                                input.input(placeholder="Отчество")
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Контакты
                    .bookingFormItemRight
                        .inputBlock
                            .inputBlockWrap
                                input.input(placeholder="Телефон")
                            .inputBlockWrap
                                input.input(placeholder="E-mail" required)
                            .inputBlockWrap
                                input.input(placeholder="Документ")
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        textarea.textarea(placeholder="Примечание", rows="7")
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        label.labelCheckbox
                            input(type="checkbox").icheck
                            | Ознакомлен с &nbsp
                            a(href="#") правилами и условиями
                            |  бронирования
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        .bookingFormItemBorder
                        .bookingFormTotal
                            | Сумма к оплате: 25 000&nbsp
                            span.asl o
                .bookingFormSubmit
                    .bookingFormSubmitWrap
                        .bookingFormSubmitButton
                            input(type="submit", value="Забронировать").buttonOutline 
