extends _layout

block content
    .banner
        .bannerItem(style="background-image: url('img/banner.jpg')")
            .bannerHeader
                | «Дневной тариф»
            .bannerText
                | Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа
            .bannerButton
                a(href='#').buttonBlueBig Подробнее
        .bannerItem(style="background-image: url('img/banner.jpg')")
            .bannerHeader
                | «Вечерний тариф»
            .bannerText
                | Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа
            .bannerButton
                a(href='#').buttonBlueBig Подробнее
    .hotel
        .hotelHeader
            | Аэроэкспресс аэропорт &nbsp
            i.iconAirport
            | Шереметьево
        .hotelSubHeader
            | ЗОНА ДО ПАСПОРТНОГО КОНТРОЛЯ
        .hotelItems
            .hotelItem(style="background-image: url('img/hotel-1.jpg')")
                .hotelItemHeader
                    | Двухместный с окном
                .hotelItemText
                    | Бронирование от 2000 
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                
            .hotelItem(style="background-image: url('img/hotel-2.jpg')")
                .hotelBestOffer
                    | Скидка 40%
                .hotelItemHeader
                    | Одноместныйс окном
                .hotelItemText
                    | Бронирование от 3500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                    
            .hotelItem(style="background-image: url('img/hotel-3.jpg')")
                .hotelItemHeader
                    | Первый класс 3-х местный
                .hotelItemText
                    | Бронирование от 4500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
    .hotel
        .hotelHeader.hotelHeaderBlue
            | Терминал Е аэропорта &nbsp
            i.iconAirport
            | Шереметьево
        .hotelSubHeader
            | ЗОНА DUTY FREE, ПОСЛЕ ПАСПОРТНОГО КОНТРОЛЯ
        .hotelItems
            .hotelItem(style="background-image: url('img/hotel-4.jpg')")
                .hotelItemHeader
                    | Двухместный с окном
                .hotelItemText
                    | Бронирование от 2000
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                
            .hotelItem(style="background-image: url('img/hotel-5.jpg')")

                .hotelItemHeader
                    | Одноместныйс окном
                .hotelItemText
                    | Бронирование от 3500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                    
            .hotelItem(style="background-image: url('img/hotel-6.jpg')")
                .hotelBestOffer
                    | Лучшее предложение
                .hotelItemHeader
                    | Первый класс 3-х местный
                .hotelItemText
                    | Бронирование от 4500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
    .hotelFuture
        .hotelFutureHeader
            | Сеть комфортных отелей
        .hotelFutureItems
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-1.png")
                h3 Современный дизайн
                p В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи.hotelFutureItem
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-2.png")
                h3 Безопасность
                p Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-3.png")
                h3 Красивый вид из окна
                p Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-4.png")
                h3 Выход в Интернет 
                p В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-5.png")
                h3 Экономичная оплата
                p Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-6.png")
                h3 Как заказать услугу?
                p Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.
    .hotelMap
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fH31ffbTsEmwKPDfB8PCCc4-SWCAjvYC&width=100%&height=416"></script>
