extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Списки оплат и лого
                h2 Обращаем Ваше внимание, что при наличной оплате проживание в отелях нашей сети принимаются только российские рубли. 
                p Первый капсульный отель «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-1.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-2.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-3.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            | г.Архангельск, ул. Воскресенская, д. 7</br> Тел. (8182) 64-93-64 </br>
                            a(href="#") Подробнее как оплатить


            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
