extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Новости
                .newsBlock
                    h2 
                        a(href="#") Москва 24. "Городской репортаж": Как добраться до аэропорта Шереметьево
                    p Как быстро и дешево добраться до аэропорта? Какие новые маршруты предлагает город? Что делать, если вылет рейса задержан? Как в целом сделать вылет и прилет комфортным?
                    .newsBlockFooter
                        p Источник: Москва 24
                        p 24.03.2015
                .newsBlock
                    h2 
                        a(href="#") Москва 24. "Городской репортаж": Как добраться до аэропорта Шереметьево
                    p Как быстро и дешево добраться до аэропорта? Какие новые маршруты предлагает город? Что делать, если вылет рейса задержан? Как в целом сделать вылет и прилет комфортным?
                    .newsBlockFooter
                        p Источник: Москва 24
                        p 24.03.2015
                .newsBlock
                    h2 
                        a(href="#") Москва 24. "Городской репортаж": Как добраться до аэропорта Шереметьево
                    p Как быстро и дешево добраться до аэропорта? Какие новые маршруты предлагает город? Что делать, если вылет рейса задержан? Как в целом сделать вылет и прилет комфортным?
                    .newsBlockFooter
                        p Источник: Москва 24
                        p 24.03.2015
                .newsBlock
                    h2 
                        a(href="#") Москва 24. "Городской репортаж": Как добраться до аэропорта Шереметьево
                    p Как быстро и дешево добраться до аэропорта? Какие новые маршруты предлагает город? Что делать, если вылет рейса задержан? Как в целом сделать вылет и прилет комфортным?
                    .newsBlockFooter
                        p Источник: Москва 24
                        p 24.03.2015
                .lineRed
                .pagginator
                    a(href="#").pagginatorActive 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4






            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
