extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Способы оплаты
                h2 Обращаем Ваше внимание, что при наличной оплате проживание в отелях нашей сети принимаются только российские рубли. 
                p Первый капсульный отель «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.
                h3 Наличными в банке
                p Распечатайте и оплатите квитанцию в любом отделении Сбербанка или в любом другом банке, принимающего платежи от физических лиц. Размер предоплаты составит 100% от суммы забронированного номера или номеров. 
                p Для этого необходимо: 
                ol
                    li Связаться с администратором отеля по тел.: 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте info@v-exp.ru, забронировать номер и получить номер заявки. 
                    li Необходимо распечатать квитанцию. Заполнить квитанцию, обязательно указав номер заявки. 
                    li Оплатить данную квитанцию в банке. 
                    li 
                        | Отправить оплаченную квитанцию по факсу 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте 
                        a(href='#') info@v-exp.ru. 
                    li Предъявить оригинал оплаченной квитанции администратору при поселении в отеле. 
                    p.red Внимание: Неоплаченная заявка аннулируется автоматически в течение 24 часов после бронирования. 
                h3 Кредитная карта
                p Online бронирование, предоплата с помощью кредитной карты. При бронировании номера через сервис "Online бронирование" частным лицам предоставляется скидка 5%. Оплата услуг осуществляется по платежным картам только международных платежных систем (Visa, MC, DinersClub International). 
                p Более подробные условия бронирования представлены на странице БРОНИРОВАНИЕ ONLINE. В случае если вы не произвели оплату по кредитной карте, ваша заявка аннулируется в течение 24 часов. 
                p Оплата услуг отеля через квитанцию Сбербанка по заявкам, забронированным через сервис Online НЕВОЗМОЖНА. 
                h3 Система «Платрон»
                p Для оплаты счета выберите оператора Platron (кроме терминалов qiwi), указав свой номер телефона. Затем выберите необходимый Вам счет и вставьте купюры в купюроприемник.
                p С подробными инструкциями по оплате заказа Вы можете ознакомиться ниже:


                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-1.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-2.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-3.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            | г.Архангельск, ул. Воскресенская, д. 7</br> Тел. (8182) 64-93-64 </br>
                            a(href="#") Подробнее как оплатить

                h3 Оплата с баланса сотового телефона
                p С услугой «Мобильный платеж» вы можете оплачивать услуги прямо со счета мобильного телефона! Услуга доступна для абонентов Билайн, физических лиц тарифных планов любой системы расчетов.Для абонентов предоплатной системы расчетов, сумма платежа просто спишется с основного счета мобильного телефона.
                p Абонентам постоплатной системы расчетов, чтобы пользоваться услугой, необходимо иметь средства на специальном авансовом счете, так как оплата может быть произведена только с него.
                p При оплате (Название Ваших услуг) с помощью услуги «Мобильный платеж» необходимо придерживаться определенных правил — ограничений на покупки.
                p Максимальная сумма оплаты — 10 000 руб.
                p Максимальная сумма оплаты за 1 сутки — 10 000 руб.
                p Максимальная сумма оплаты за 30 суток — 30 000 руб.
                p Подробнее об услуге «Мобильный платеж» и ее возможностях узнай на сайте www.beeline.ru 
                h3 Круглосуточная служба поддержки platron
                p 24 часа в сутки доступна служба поддержки, которая оперативно ответит на вопросы о статусе платежа и особенностях осуществления оплаты в той или иной платежной системе.
                p Телефон службы поддержки: +7 (495) 974-72-33 
                h3 Сроки и условия аннуляции.
                p Аннуляция бронирования производится в письменном виде за 24 часа до указанных в заявке даты и времени прибытия. В случае незаезда по заявке, а также аннуляции бронирования менее чем за 24 часа до указанной даты и времени прибытия внесенная ранее предоплата не возвращается. 
                p 
                    | По вопросам аннуляции и получения бланка заявления обращаться по тел:8-800-550-02-42 (звонок по России бесплатный), 8 (495) 788-35-02 (телефон в Москве) , 
                    a(href='#') info@v-exp.ru.


            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
