extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Фотографии
                h5 Первый класс 3-местныйПервый класс 3-местный
                .photoGallery
                    .photo
                        img(src="img/photo-1.jpg")
                        img(src="img/photo-1.jpg")
                        img(src="img/photo-1.jpg")
            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Об отеле
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
