extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Прайслист терминала Е
                h2 Обращаем Ваше внимание, что во всех отелях сети «Воздушный экспресс» оплата производится только в российских рублях. 
                p Убедительная просьба заранее планировать время (количество часов) вашего проживания в отеле. Информируем вас, что возврат денежных средств за неиспользованные часы проживания в капсульных отелях «Воздушный экспресс» не производится. При продлении времени проживания оплата взимается по 4-х часовому тарифу согласно прейскуранту и категории номера. 
                h3 Номера эконом
                table
                    thead
                        tr
                            td 
                                | 1-x местный
                                span Без окна, 9 номеров
                            td 
                                | 2-x местный
                                span Без окна, 9 номеров
                            td 
                                | 2-x местный
                                span C окном, 9 номеров
                            td
                    tbody
                        tr
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | пакет
                        tr
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 4 часа
                        tr
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 5 часа
                        tr
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 6 часа
                        tr
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 7 часа
                        tr
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 8 часа
                        tr
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 9 часа
                
                        tr
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 10 часа
                        tr
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 11 часа
                h3 Бизнес-класс и первый класс
                table
                    thead
                        tr
                            td 
                                | Бизнес 3-x местный
                                span С окном, 9 номеров
                            td 
                                | 1-й класс 3-x местный
                                span С окном, 3 номеров
                            td
                    tbody
                        tr
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | пакет
                        tr
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 4 часа
                        tr
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 5 часа
                        tr
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 6 часа
                        tr
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 7 часа
                        tr
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 8 часа
                        tr
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 9 часа

                        tr
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 10 часа
                        tr
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 11 часа
                .lineRed
                h5 Уважаемые Гости!
                p Обращаем Ваше внимание: 
                ol
                    li Все номера капсульного отеля «Воздушный экспресс» являются некурящими.
                    li Размещение с домашними животными в номерах капсульного отеля не представляется возможным.
                p Ценовая политика построена из расчета минимальной 4х часовой (экспресс пакет) продолжительности пребывания в отеле. 
                p Цены указаны в рублях, с учетом НДС.
                strong 8 800 550-02-42 (звонок по России бесплатный)
                strong 8 (495) 788-35-02 (телефон в Москве)
                strong
                    | или &nbsp
                    a(href="#") bron@v-exp.ru
            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила
