@import './../../stylusMixin/libs'
normalize()
a:focus
    outline: 0
html
    height 100%
body
    position relative
    min-height 100%
    min-width 980px
    +tablet()
        min-width 768px
    +mobile()
        min-width 400px
