@import './../../../stylusMixin/libs'
.hotelMap
    display block
    height 416px
.hotel
    center(1200px)
    text-align center
    padding-top 60px
    +tablet()
        center(1050px)
    +mobile()
        center(400px)
.hotelHeader
    color #cebf6b
    ff(o_light,3.6,3.6)
    margin-bottom 15px
    &Blue
        color #8ea6ac
    +mobile()
        ff(o_light,3.0,3.6)
.iconAirport
    display inline-block
    vertical-align top
    size(36)
    margin 0 10px
    bg()
    background-image inline("iconAirport.png")
    +mobile()
        display none
.hotelSubHeader
    ff(normal,1.5)
    text-transform uppercase
    color #d3000a
    margin-bottom 30px

.hotelItems
    display block
    sf()


.hotelItem
    col(1/3,gutter:.3)
    position relative
    min-height 275px
    padding 0 100px
    padding-top 60px
    bg()
    background-size cover
    +tablet()
        col(1/1)
        margin-bottom 5px
        padding 60px 20px 0
    +mobile()
        col(1/1)
        padding 60px 20px 0
        margin-bottom 5px
.hotelItemHeader
    ff(normal,2.5)
    color #fff
    text-shadow 0 0 20px rgba(0, 0, 0, 0.4)
.hotelItemText
    ff(normal,1.5)
    color #fff
    text-shadow 0 0 20px rgba(0, 0, 0, .4)
    margin-bottom 40px
.hotelBestOffer
    display block
    position absolute
    width 131px
    height 18px
    top 0
    left 0
    right 0
    margin 0 auto
    bg()
    background-image inline("hotelBestOfferBG.png")
    color #fff
    ff(normal,1,1.5)
    font-weight bold
.hotelItemButton
    display block
    position absolute
    left 0
    right 0
    bottom 40px
    margin 0 auto
