@import './../../../stylusMixin/libs'
.hotelFuture
    center(1200px)
    padding-top 80px
    padding-bottom 50px
    +mobile()
        center(400pxx)

.hotelFutureHeader
    color #252525
    ff(o_light,5)
    text-align center
    margin-bottom 60px
    sf()
    +mobile()
        display none
.hotelFutureItems
    display block
    sf()
.hotelFutureItem
    col(1/3,cycle:3)
    text-align center
    margin-bottom 30px
    &Image
        display inline-block
        height 187px
        margin-bottom 25px
    h3
        color #252525
        ff(normal,2.5)
        margin-bottom 10px
    p
        color #7b7b7b
        ff(normal,1.5,2.2)
    +tablet()
        col(1/2,uncycle:3, cycle:2)
        text-align center
    +mobile()
        col(1/1)
        text-align center
        margin-bottom 20px
        padding 0 10px
