ff(fontfamaly = defaultFont,fsz=1.6,lhsz=normal)
    if fontfamaly == 'normal'
        font-family 'Open Sans', sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal
        font-weight 400
        font-style normal

    if fontfamaly == 'o_light'
        font-family 'Open Sans', sans-serif;
        font-size unit(fsz,rem)
        if (lhsz != 'normal')
            line-height unit(lhsz,rem)
        else
            line-height normal
        font-weight 300
        font-style normal
