.footer
    .footerWrap
        .footerMenu
            a(href="#") Об отеле
            a(href="#") Цены
            a(href="#") Акции
            a(href="#") Фото
            a(href="#") Партнерам
        .footerText © Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630
        .footerIcons
            .footerIconMaestro
            .footerIconVisa
