.header
    .headerWrap
        .headerLogo
            +svgIcon('logo')
        .headerLogoMobile
            +svgIcon('logoMobile')
        .headerMenu
            .headerMenuItems
                a(href="#").active Главная
                a(href="#") Об отеле
                a(href="#") Цены
                a(href="#") Акции
                a(href="#") Фото
                a(href="#") Партнерам
            
        .headerContact
            .headerSkype
                a(href="#")
            .headerAddress
                a(href="#").js-changephoneRus.disable Россия
                |  /&nbsp
                a(href="#").js-changephoneMsk Москва
                .headerPhoneRussia
                    | 8 800 550-02-42 
                .headerPhoneMsk
                    | 8 495 550-02-42 
            .headerCallback
                button.buttonBlue.js-popupCall Заказать звонок
                
ul#mobileMenu.mobileMenu
    li
        a(href="#").mobileMenuItem Меню сайта
        ul
            li
                a(href="#").mobileMenuItemSub Интернет магазин
                ul
                    li
                        a(href="#").mobileMenuItemLink Об отеле
                    li
                        a(href="#").mobileMenuItemLink Пресса о нас
                    li
                        a(href="#").mobileMenuItemLink Работа в компании
            li
                a(href="#").mobileMenuItemSub Цены
                ul
                    li
                        a(href="#").mobileMenuItemLink Об отеле
                    li
                        a(href="#").mobileMenuItemLink Пресса о нас
                    li
                        a(href="#").mobileMenuItemLink Работа в компании
