@import './../../../stylusMixin/libs'

.header
    display block
    position relative
    height 90px
    bg(top)
    background-size cover
    background-image url("../img/headerBG.png")
    box-shadow 0 1px 5px rgba(0, 0, 0, .1)
    //margin-bottom 5px
    z-index 9000
.headerWrap
    center(960px)
    +above(1200px)
        center(1200px)
    +tablet()
        center(768px)
        min-width 768px
    +mobile()
        center(400px)
        min-width 400px
.headerLogo
    padding-top 9px
    display table-cell
    width 230px
    vertical-align middle
    svg
        size(205,59)
    +tablet()
        col(1/3)
        height 92px
        padding-left 25px
    +mobile()
        display none
.headerLogoMobile
    display none
    svg
        size(104,55)
    +mobile()
        padding-top 18px
        display inline-block
        vertical-align middle
        padding-left 10px
        col(1/3)
.headerMenu
    display table-cell
    line-height 90px

.headerMenuItems
    display inline-block
    vertical-align middle
    border-left 1px solid #e8eaec
    ff(normal,1.5,2.8)
    text-transform uppercase
    padding 0 25px
    a
        display inline-block
        text-decoration none
        color #252525
        margin-right 15px
        &:hover
            text-decoration underline
            color #fd7201
    .active
        color #fd7201
    +tablet()
        display none
    +mobile()
        display none
.headerContact
    display table-cell
    width 400px
    vertical-align middle
    +tablet()
        col(2/3)
        padding-top 18px
        text-align right
        padding-right 30px
    +mobile()
        col(2/3)
        padding-top 18px
        text-align right
        padding-right 10px
.headerSkype
    display inline-block
    vertical-align middle
    border-right 1px solid #e8eaec
    padding-right 20px
    a
        display inline-block
        vertical-align middle
        size(20,28)
        background-image inline("iconSkype.png")
        bg()
    +mobile()
        display none

.headerAddress
    display inline-block
    vertical-align middle
    color #252525
    ff(normal,1.3,1.3)
    padding-left 25px
    margin-right 30px
    a
        display inline-block
        ff(normal,1.3,1.3)
        margin-bottom 3px
        color #00adee
        text-decoration none
        border-bottom 1px dashed #00adee
        &:hover
            color #fd7201
            border-bottom 1px dashed #fd7201

    .disable
        color #252525
        text-decoration none
        cursor default
        border-bottom 1px solid transparent
        &:hover
            color #252525
            border-bottom 1px solid transparent
    .active
        display block
    +mobile()
        text-align right
        margin-right 0px
.headerPhoneRussia, .headerPhoneMsk
    display block
    color #252525
    ff(normal,2)
    text-transform uppercase
    +mobile()
        text-align right
.headerPhoneMsk
    display none
.headerCallback
    display inline-block
    vertical-align middle
    // padding-top 10px
    +mobile()
        display none
