@import './../../../stylusMixin/libs'
.icheckbox
    display inline-block
    vertical-align middle
    cursor pointer
    position relative
    size(20)
    background-color #f5f5f5
    border 1px solid rgba(0, 0, 0, 0.09)
    border-radius 2px
    top -2px
    margin-right 10px
    cf()

.icheckbox
    &.hover
        border 1px solid rgba(0, 0, 0, 0.19)
    &.checked
        position relative
        &:before
            display block
            position absolute
            size(14)
            background-color darken(#f5f5f5,20%)
            content ""
            border-radius 2px
            top 2px
            left 2px
            bg()

    &.disabled
        background none
        cursor default
    &.focus
        border-color darken(#d5d4cd, 20%)

.iradio
    display inline-block
    vertical-align middle
    width 24px
    height 24px
    border-radius 12px
    border 2px solid #bfbfbf
    cursor pointer
    float left
    margin-right 10px
    background-color #FFF
    sf()
.iradio
    &.hover
        border 1px solid quartz
    &.checked
        position relative
        background-color #00AEFF
        border-color #0094d9
        &:before
            display block
            position absolute
            height 10px
            width 10px
            content ""
            top 5px
            left 5px
            border-radius 5px
            background-color #000
        &.disabled
            background-position -216px 0
    &.disabled
        background-position -192px 0
        cursor default
