@import './../../../stylusMixin/libs'

.slick-slider
    position relative
    display block
    box-sizing border-box
    box-sizing border-box
    user-select none
    user-select none
    touch-callout none
    touch-action pan-y
    touch-action pan-y
    tap-highlight-color transparent

.slick-list
    position relative
    display block
    overflow hidden
    margin 0
    padding 0
    &:focus
        outline none
    &.dragging
        cursor pointer
        cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
    transform translate3d(0, 0, 0)
    transform translate3d(0, 0, 0)

.slick-track
    position relative
    top 0
    left 0
    display block
    &:after
        clear both

.slick-track:before,
.slick-track:after
    display table
    content ''

.slick-loading
    .slick-track
        visibility hidden
    .slick-slide
        visibility hidden

.slick-slide
    display none
    float left
    height 100%
    min-height 1px
    img
        display block
    &.slick-loading
        img
            display none
    &.dragging
        img
            pointer-events none

[dir='rtl']
    .slick-slide
        float right

.slick-initialized
    .slick-slide
        display block

.slick-vertical
    .slick-slide
        display block
        height auto
        border 1px solid transparent


.slick-prev,
.slick-next
    font-size 0
    line-height 0
    position absolute
    top 50%
    display block
    width 30px
    height 54px
    margin-top -27px
    border-radius 0 27px 27px 0
    background-color #03abff
    opacity .5
    padding 0
    cursor pointer
    color transparent
    border none
    outline none

.slick-prev
    left 0px
    bg(left 7px)
    background-image inline("slickLeft.png")
    transition all .5s
    &:hover
        //background-image url("slickLeftActive.png")
        opacity 1
.slick-next
    right 0px
    bg(right 7px)
    border-radius 27px 0 0 27px
    background-image inline("slickRight.png")
    transition all .5s
    &:hover
        opacity 1



.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
    opacity .25

.slick-prev:before,
.slick-next:before
    font-family 'slick'
    font-size 20px
    line-height 1
    opacity .4
    color white
    background-color #000
    font-smoothing antialiased
    osx-font-smoothing grayscale



[dir='rtl']
    .slick-prev
        right -25px
        left auto
        &:before
            content '→'
    .slick-next
        right auto
        left -25px
        &:before
            content '←'




.slick-dots
    position absolute
    bottom 5px
    left 0
    right 0
    margin 0 auto
    display block
    width 100%
    padding 0
    list-style none
    text-align center
    li
        position relative
        display inline-block
        width 20px
        height 20px
        margin 0 5px
        padding 0
        cursor pointer
        button
            font-size 0
            color #fff
            display block
            width 14px
            height 14px
            padding 3px 0
            text-align center
            border-radius 50%
            cursor pointer
            border 0
            outline none
            background-color rgba(0,0,0,.4)
            &:hover
                background-color rgba(211, 0, 10, .4)
        &.slick-active
            button
                color #333
                width 17px
                height 17px
                background-color rgb(211, 0, 10)


.slick-dots li button:hover,
.slick-dots li button:focus
    outline none

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
    opacity 1
