.pagginator
    display block
    margin-top 40px
    sf()
    a
        display inline-block
        vertical-align middle
        width 31px
        height 31px
        text-align center
        padding-top 3px
    &Active
        background-color #d3000a
        color #fff !important
        cursor default
        &:hover
            color #fff !important
            text-decoration none !important
