@import './../../../stylusMixin/libs'

.booking
    background-attachment fixed
    bg(top)
    background-size cover
    background-image url("../img/bodyBG.jpg")
    padding 50px 0 50px
    +tablet()
        padding 0 0 50px
        background-image none
    +mobile()
        padding 0 0 50px
        background-image none
.bookingWrap
    center(1050px)
    background-color #FFF
    padding 45px 0 0px
    +tablet()
        center(768px)
        min-width 768px
    +mobile()
        center(400px)
        min-width 400px
.bookingHeader
    display block
    width 700px
    color #252525
    margin-bottom 40px
    padding 0 50px
    cf()
    h1
        ff(o_light,5)
        margin-bottom 10px
        +mobile()
            ff(o_light,4)
    p
        ff(normal,1.5,2.5)
    +mobile()
        padding 0 10px
        width 320px
.bookingSubHeader
    display block
    margin-bottom 20px
    padding 0 50px
    cf()
    h2
        ff(o_light,2.5)
        color #252525
    +mobile()
        padding 0 10px
        margin-top 10px
        margin-bottom 0px
        h2
            ff(o_light,2.5)
            color #252525

.bookingLabel
    display inline-block
    ff(o_light,2.5,4.9)
    color #252525
.bookingLabelSmall
    @extend .bookingLabel
    ff(normal,1.5,4.9)

.bookingFormItem
    display block
    width 700px
    padding 0 50px
    margin-bottom 30px
    cf()
    &Left
        col(1/3)
    &Right
        col(2/3)
    &Half
        col(1/2,gutter:5)
    &Three
        col(3/4,gutter:7)
    &One
        col(1/4,gutter:7)
        position relative
    +mobile()
        padding 0 10px
        width 100%
        min-width 320px
        margin-bottom 10px
        &Left
            col(1/1)
        &Right
            col(1/1)
        &Half
            col(1/1)
            margin-bottom 10px
            &:last-child
                margin-bottom 0px
        &Three
            col(1/1)
            margin-bottom 10px
        &One
            col(1/1)
.bookingFormItemX
    display block
    position absolute
    size(8,7)
    left -20px
    top 20px
    bg()
    background-image inline("iconX.png")
.bookingFormItemRoom
    display table
    width 100%
    &Image
        display table-cell
        padding-right 14px
        vertical-align top
    &Text
        display table-cell
        ff(normal,1.3,2.1)
.bookingFormItemBorder
    display block
    width 100%
    height 1px
    border-bottom 1px solid #d3000a
    margin-bottom 30px

.bookingFormTotal
    color #252525
    ff(normal,2.5,2.5)
    +mobile()
        margin-bottom 20px
.bookingFormSubmit
    display block
    height 122px
    background-color #00adee
    &Wrap
        width 700px
        padding 0 50px
        padding-top 37px
        +mobile()
            width 400px
            padding 37px 10px
    &Button
        col(2/3,offset:1/3)
        +mobile()
            col(1/1)
            text-align center
