@import './../../../stylusMixin/libs'
.datepickerWrap
    position relative
    &after
        display block
        size(50,50)
        content " "
        position absolute
        top 0
        right 0
        pointer-events none
        bg()
        background-image inline("iconSelectDown.png")

.input
    outline 0
    border 1px solid rgba(0, 0, 0, 0.09)
    border-radius 2px
    ff(normal,1.5)
    height 49px
    width 100%
    padding 8px 0 8px 17px
    color #252525
    background-color #f5f5f5
.inputBlock
    display block
    position relative
    sf()
    .inputBlockWrap
        display block
        position relative
        width 100%
        sf()
        .input
            border-bottom 0
            border-radius 0
        &:first-child
            .input
                border-radius 2px 2px 0 0
        &:last-child
            .input
                border-radius 0 0 2px 2px
                border-bottom 1px solid rgba(0, 0, 0, 0.09)
.inputError
    border 1px solid #fe8f8f !important
    color #fd3131
.error
    display block
    position absolute
    right -235px
    // right -50%
    top 5px
    background-color #FFF
    ff(normal,1.3,3.8)
    padding 0 10px
    color #f00
    height 38px
    &:after
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 8px;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
        top 11px
        left: -16px;
        z-index 10000
    &:before
        display block
        position absolute
        z-index 100
        top 0
        left 0%
        width 100%
        height 38px
        background-color transparent
        content ''
        box-shadow 0 3px 54px rgba(0, 0, 0, 0.21)
.textarea
    outline 0
    border 1px solid rgba(0, 0, 0, 0.09)
    border-radius 2px
    ff(normal,1.5)
    width 100%
    padding 8px 0px 8px 17px
    color #252525
    background-color #f5f5f5
