@import './../../../stylusMixin/libs'

.mobileMenu
    display none
    width 100%
    list-style none
    padding 0
    margin 0
    a
        //color #fff
        text-decoration none
        &:active
            outline 0
    ul
        list-style none
        padding 0
    +tablet()
        display block
    +mobile()
        display block
.mobileMenuItem
    display block
    position relative
    width 100%
    background-color #00adee
    ff(normal,2,2)
    color #fff
    bg(left 10px)
    padding 20px 30px 20px 30px
    background-image inline("mobileMenuDots.png")
    &:after
        display block
        position absolute
        content ' '
        size(14,8)
        top 27px
        right 10px
        transform: rotate(180deg)
        bg()
        background-image inline("mobileArrow.png")
        transition all .5s

.mobileMenuItemSub
    display block
    position relative
    width 100%
    ff(normal,1.8,2)
    color #000
    background-color #d1f0fc
    padding 13px 30px 13px 10px
    border-bottom 1px solid #d7e4e8
    &:after
        display block
        position absolute
        content ' '
        size(10,6)
        top 23px
        right 13px
        transform: rotate(180deg)
        bg()
        background-image inline("mobileArrow2.png")
        transition all .5s
.active
    &:after
        transform: rotate(0deg)
.mobileMenuItemLink
    display block
    width 100%
    ff(normal,1.8,2)
    color #000
    padding 13px 30px 13px 40px
    border-bottom 1px solid #d7e4e8
    background-color #e9f7fc
