@import './../../../stylusMixin/libs'

.overley
    display none
    position absolute
    width 100%
    height 100%
    z-index 9500
    opacity 0.8
    background-color #FFF

.popup
    width 600px
    display none
    position fixed
    left 0
    right 0
    top 100px
    margin 0 auto
    background-color #FFF
    z-index 10000
    opacity 1
    box-shadow 0 3px 54px rgba(0, 0, 0, 0.21)
.popupClose
    display block
    position absolute
    top 20px
    right 20px
    button
        border 0
        background-color transparent
        outline 0
        size(20)
        bg()
        background-image inline("popupClose.png")
        &:hover
            background-image inline("popupCloseHover.png")
.popupWrap
    padding 50px 70px
.popupHeader
    color #252525
    ff(o_light,2.5)
    margin-bottom 20px

.popupText
    color #7b7b7b
    ff(normal,1.5,2.2)
    margin-bottom 30px

.popupForm
    .inputBlock
        margin-bottom 40px
    .buttonBlueBig
        float right
        sf()
        margin-bottom 30px
