@import './../../../stylusMixin/libs'

.footer
    display block
    min-height 200px
    background-color #353f49
    padding-bottom 20px
    cf()

.footerWrap
    center(980px)
    text-align center
    +tablet()
        center(768px)
        min-width 768px
    +mobile()
        center(400px)
        min-width 400px
.footerMenu
    display block
    margin-top 40px
    margin-bottom 20px
    text-align center
    a
        color #fff
        text-decoration none
        ff(normal,1.5,2.1)
        margin-right 15px
        &:last-child
            margin-right 0px
        +mobile()
            display block
            margin-bottom 10px
            margin-right 0px
        &:hover
            text-decoration underline
.footerText
    display block
    margin 0 auto 30px
    width 800px
    color #94989c
    ff(normal,1.3,2.1)
    +tablet()
        width 768px
    +mobile()
        width 400px

.footerIcons
    display inline-block

.footerIconMaestro
    display inline-block
    size(25,15)
    margin-right 10px
    bg()
    background-image inline("iconMaestro.png")
.footerIconVisa
    display inline-block
    size(40,15)
    bg()
    background-image inline("iconVisa.png")
